*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

nav{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    color: white;
    list-style: none;
    margin: 4px;
}