@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li i{
  color: black;
}

h1{
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-left: 100px;
  margin-bottom: 5px;
}

span{
  color: rgb(253, 83, 5);
}

p{
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 100px;
  margin-bottom: 8px;
}

button{
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(219, 232, 247);
  margin-left: 100px;
  margin-bottom: 50px;
  cursor: pointer;
}

.name {
  color: rgb(233, 79, 7);
  font-size: 2.5rem;
  margin-left: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.name:hover {
  color: orange;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

ul li {
  color: rgb(233, 79, 7);
  list-style: none;
  margin: 20px;
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

ul li:hover {
  color: orange;
}

.main-container {
  display: flex;
  height: 87%;
}

img {
  height: 70%;
  filter: brightness(90%);
}

.left-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#pattern{
  position: absolute;
  left: 33%;
  top: 25%;
}

.icons{
  margin-left: 100px;
}

.icons i{
  margin-right: 8px;
  cursor: pointer;
  color: black;
}

.dark-theme{
  background-color: black;
  color: white;
}

.normal-theme{
  background-color: aliceblue;
  color: black;
}